form
{
    width: 25%;
    border: solid 1px;
    border-radius: 8px;
    background-color: rgba(104, 138, 104, 0.9);
    box-shadow: 0px 0px 15px 0px grey;
    margin:auto;
}
form > div
{
    border:none;
}
#greeting
{
    visibility: hidden;
}